{% extends 'main.html' %} {% block content %}
<style>
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .form-data{
      margin-left:13px
  }
  .form-data strong{
      color:blue;
  }
  .main-container{
      display:flex;
      justify-content:center;
      align-items:center;
  }
  .submissionField {
    width: 400px;
    height: 200px;
    border: 1px solid #999999;
    padding: 5px;
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  .rate:not(:checked) > label:before {
    content: "★ ";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
</style>
<div class="main-container">
<form method="POST" action="">
    {% csrf_token %}
    <p class="form-data" >Submit your review for <strong> {{ movie.name }}</strong></p>
    <h5 class="form-data" ><strong>Your Rating</strong></h5>
    <div>
    <div class="rate">
      <input type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
</div>
    <br>
    <br>
    <br>
  <p class="form-data"><Strong>Your Review<strong></p>
  <div class="form-data">
    <textarea id="txtArea" name="review" rows="8" cols="50"> </textarea>
  </div>
  <input  type="submit" value="Submit Review" class="btn btn-success form-data">
</form>
</div>
{% endblock %}
